In [76]:
import numpy as np
from scipy.stats import norm,wilcoxon
import seaborn as sns

# Define your sample data and parameters
sample_data = np.array([85, 88, 90, 84, 89, 92, 87, 93, 91, 90])
population_mean = 85  # Population mean (null hypothesis)

# Calculate sample statistics
sample_mean = np.mean(sample_data)
sample_std = np.std(sample_data, ddof=1)  # Use ddof=1 for sample standard deviation

# Calculate z-statistic
z_statistic = (sample_mean - population_mean) / (sample_std / np.sqrt(len(sample_data)))

# Calculate p-value
p_value = 2 * (1 - norm.cdf(abs(z_statistic)))

# Print the results
print("Z-statistic:", z_statistic)
print("P-value:", p_value)

# Interpret the results
alpha = 0.05  # Significance level
if p_value < alpha:
    print("Reject the null hypothesis: There is significant evidence to suggest that the sample mean is different from the population mean.")
else:
    print("Fail to reject the null hypothesis: There is no significant evidence to suggest that the sample mean is different from the population mean.")

Z-statistic: 4.219127908951527
P-value: 2.4524911426571094e-05
Reject the null hypothesis: There is significant evidence to suggest that the sample mean is different from the population mean.

In [77]:
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic', 'anagrams', 'anagrams', 'anscombe', 'anscombe', 'attention', 'attention', 'brain_networks', 'brain_networks', 'car_crashes', 'car_crashes', 'diamonds', 'diamonds', 'dots', 'dots', 'dowjones', 'dowjones', 'exercise', 'exercise', 'flights', 'flights', 'fmri', 'fmri', 'geyser', 'geyser', 'glue', 'glue', 'healthexp', 'healthexp', 'iris', 'iris', 'mpg', 'mpg', 'penguins', 'penguins', 'planets', 'planets', 'seaice', 'seaice', 'taxis', 'taxis', 'tips', 'tips', 'titanic', 'titanic', 'anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [78]:
data=sns.load_dataset('iris')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [93]:
res = data.groupby('species').mean()
print(res)

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026